.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.placeholder_content {
    font-family: 'Roboto Slab', serif;
    font-size: 128px;
}

.placeholder_content_cheeky {
    font-size: 10px;
    color: rgb(140, 177, 177);
}